In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

In [2]:
# df = pd.read_excel('/content/File1 (copy).xlsx')

In [3]:
d = {"Gender" : ["M", "F", "F", "F", "M"],
     "Subjects" : ["Hindi", "Math", "Science", "Science", "Math"],
     "Marks" : [100, 65, 33, 43, 55],
     "Result" : ["P", "P", "F", "P", "P"]
     }

df = pd.DataFrame.from_dict(d)

In [4]:
df.head()

  Gender Subjects  Marks Result
0      M    Hindi    100      P
1      F     Math     65      P
2      F  Science     33      F
3      F  Science     43      P
4      M     Math     55      P

In [5]:
encoder = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
encoder.fit(df)
df1 = pd.DataFrame(encoder.transform(df), columns = encoder.get_feature_names_out())

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [6]:
df1

,Gender_F,Gender_M,Subjects_Hindi,Subjects_Math,Subjects_Science,Marks_33,Marks_43,Marks_55,Marks_65,Marks_100,Result_F,Result_P
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
# df1 = pd.read_excel('/content/Scaler.xlsx')

In [7]:
dd = {"Col1" : [23.43, 4, 433, 55.5, 223, 69],
      "Col2" : [22.2, 234.32, 44, 7, 233, 555]}

df1 = pd.DataFrame.from_dict(dd)

In [8]:
df1

     Col1    Col2
0   23.43   22.20
1    4.00  234.32
2  433.00   44.00
3   55.50    7.00
4  223.00  233.00
5   69.00  555.00

In [9]:
scaler = MinMaxScaler()#(x-xmin)/(xmax-xmin)
scaler.fit(df1)
df1 = pd.DataFrame(scaler.transform(df1), columns = df1.columns)
# test_x1 = pd.DataFrame(scaler.transform(test_x1), columns = test_x1.columns)

In [10]:
df1

       Col1      Col2
0  0.045291  0.027737
1  0.000000  0.414818
2  1.000000  0.067518
3  0.120047  0.000000
4  0.510490  0.412409
5  0.151515  1.000000